@import url(variables.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--card-color4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

header {
    background-color: var(--card-color3);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-shadow: var(--box-shadow); 
    margin-bottom: 40px;
}

header h1 {
    color: var(--card-color2);
    margin: 0;
}

nav {
    width: 100%;
    text-align: center;

}

.menu {
    list-style-type: none;
    padding: 0;
    
}

.menu li {
    display: inline-block;
    margin: 0 15px;
    
}

.menu a {
    text-decoration: none;
    color: var(--card-color1);
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid var(--card-color1);
    border-radius: 8px;
    transition: var(--transition1);
}

.menu a:hover {
    background-color: var(--card-color3);
    color: var(--color5);
}

.link{
    text-decoration: none;
    color: var(--card-color2);
    font-size: 1.2em;
    padding: 2px 15px;
    border: 2px solid var(--card-color3);
    border-radius: 8px;
    transition:2s;


}
.link:hover{
    background-color: var(--card-color2);
    color: var(--card-color8);
}

/* Component Styles */
.keep-note, .card-spotify-song, .instagram-post, .product-card, .product-detail, .instagram-comments {
    background-color:var(--card-color6);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 50px;
    margin: 40px 0;
    width: 300px;
    text-align: center;
}

.keep-note ul, .card-spotify-song ul, .product-card ul, .instagram-post ul {
    padding-left: 0;
}

.keep-note li, .card-spotify-song li, .product-card li {
    list-style: none;
    margin-bottom: 10px;
}
.card-spotify-song{
    display: var(--display);
    padding: 20px;
    margin: 0 auto;
    text-align: justify;
}
.h2{
    text-align: var(--text-aling);
    color: var(--card-color1);
}

.product-img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-img2{
   width: 40%;
    height: auto;
    display: block;
}

button {
    background-color: var(--card-color8);
    color: var(--card-color5);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: var(--transition);
    cursor: pointer;
    border-radius: var(--border-radius);
}

button:hover {
    background-color: var(--card-color7);
    transition: var(--transition1);
}




.keep-note .note-options button, .product-detail .product-options button, .comments-section button {
    width: 100px;
}
